* {
   box-sizing: border-box;
}

body {
    background-color: greenyellow;
    padding:0;
    margin:0;
}

.container {
    height:100vh;
    overflow-y:hidden;
}

label[for=cube_images], select#cube_images {
    color:hotpink;
    font-family: 'Astloch', cursive;
}


label[for=cube_images] {
    display:block;
    padding:.5em;
    text-align:center;
    font-size: 32px;
    
    /*?? How do I make the box-shadow of the .gridblocks not intrude into the background of the label??*/
    background-color:greenyellow;
    z-index:3;
}

select#cube_images {
    position:absolute;
    z-index:2;
    left: 0; 
    right: 0; 
    margin: 0.5em auto;
    
    appearance: none; 
    width:4em;
    height:2em;
    text-align:center;
    font-size: 60px;
    color:hotpink;
    background-color:greenyellow;
    border:hotpink solid 10px;
    box-shadow:
        0px 0px 0px 10px greenyellow,
        0px 0px 0px 20px hotpink;
    
}

/*styling common to all input with type=range*/
input[type=range] {
    appearance:none;
    -webkit-appearance: none;
    z-index:2;
    bottom:2em;
    margin: 0.5em auto;
    width:200px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/*individualized styling for different type-ranges ensues*/
input[id=speed] {
    direction: rtl;

    background:hotpink;
    position:absolute;

    left: 10%; 
    border:greenyellow solid 10px;
    box-shadow:
        0px 0px 0px 10px hotpink,
        0px 0px 0px 20px greenyellow;
}

input[id=speed]::-webkit-slider-thumb {
  background: greenyellow;
    border:hotpink solid 3px;
}

input[id=spacing] {
   
    background:greenyellow;
    position:absolute;
    
    right: 10%; 
    border:hotpink solid 10px;
    box-shadow:
        0px 0px 0px 10px greenyellow,
        0px 0px 0px 20px hotpink;
}

input[id=spacing]::-webkit-slider-thumb {
  background: hotpink;
    border:greenyellow solid 3px;
}


.eye {
    position:absolute;
    z-index:1;
    width: 40vmin;
    height: 40vmin;
    top:36%;
    transform-style: preserve-3d;
    animation: changePerspective 16s ease-in-out alternate infinite;
}

.eye.left {
    left:10%;
}

.eye.right {
    right:10%;
}


@keyframes changePerspective {
    0%{transform: translateZ(-300px) rotateX(0deg) rotateY(0deg);}
    100%{transform: translateZ(-300px) rotateX(360deg) rotateY(360deg);} 
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    
    filter: opacity(0.6);
    background-image: url(img/beauty.jpg);
    background-repeat:repeat;
    background-size:contain;
}

/*translate Z must always be half of .face width and height for the cube sides to stay together*/
.face.front {
    transform: rotateX(0deg) translateZ(10vmin);
    
}

.face.back {
    transform: rotateX(180deg) translateZ(10vmin);
    
}

.face.top {
    transform: rotateX(90deg) translateZ(10vmin);
}

.face.right {
    transform: rotateY(90deg) translateZ(10vmin);
}

.face.bottom {
    transform: rotateX(-90deg) translateZ(10vmin);
}

.face.left {
    transform: rotateY(-90deg) translateZ(10vmin);
}



.grid {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    background-color: transparent;
    grid-gap:0px;
    padding:0;
    margin:0;
    position:relative;
    z-index:-1;
    width:100vw;
    height:100vh;
}

/*The browser window was filling up with just 50-60 .gridblocks (5-6rows) even though  their height was 10vh (should've taken 10 rows of .gridblocks) bc the border was adding extra height (couldn't be accounted for just by changing *: border-box)*/
.grid_block {
    background-color: greenyellow;
    height:calc(10vh - 1.5vmin);
    font-size: 30px;
    text-align: center;
    padding:0;
    margin:0;
    
    border: 1.5vmin deeppink dashed;
    
    box-shadow:
        0px 0px 10px 0px #00980B,
        0px 0px 30px 0px #9DA6FF,
        0px 0px 50px 0px #9DFF9E,
        0px 0px 100px 0px #FFFD9D;
}