* {
    box-sizing: border-box;
    font-size:32px;
    margin: 0;
    padding:0;
}

html {
    /*??? Something about accessibility concerns??*/
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Youth";
  src: url("fonts/Youth-Thin.otf") format("otf");
}


body {
  font-family: "Youth";
    color:white;
    background-color:white;
    cursor:none;
}

/*bring back cursor when selecting or clicking anywhere*/
*:active {
    cursor:zoom-in;
}

nav {
    position:fixed;
    left:.5em;
    z-index:4;
    color:rgb(55, 55, 255);
    text-align:center;
}

.info_btn:hover {
    cursor:pointer;
}

nav {
    top:1em;
    height:calc(100vh - 2em);

    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

nav a:link {
    color:blue;
    text-decoration:none;
}

nav a:visited {
    color:#FFAD00;
    text-decoration:none;
}

.info {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding:1em;
    width:50vw;
    min-width: 360px;
    height:auto;
    border:.1px solid blue;
    background:rgba(255,255,255,1);

    visibility:hidden;
    opacity:0;
    transition:1s;

    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.info p {
    font-size:.7em;
}

.info_btn:hover .info {
    visibility:visible;
    opacity:1;
}

.interview {
    padding:1em;
    padding-top:0;
    z-index:3;
    margin-left:1em;
}

p {
    margin: .5em 0em;
}

.interview p {
    /*mix-blend-mode: color-dodge;*/
    color: white;
    line-height: 4;
}

/*selects all p that have any id (in this case that means any new question), except the very first one*/
p[id]:not(:first-of-type) {
   margin-top:100vh;
}

p[id]:first-of-type {
   margin-top:0;
}

span.siri, span.karen {
    padding:.5em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    /*Q: Is there a way to only apply this to the border??
    A: Not really. Maybe make another layer of this same text but make text transparent and apply blend mode to that element only
    mix-blend-mode:color-dodge;
    */
}

span.siri {
    border:.1px solid #FFAD00;
}

span.karen {
    border:.1px solid blue;
}

/*??? Jittery text-shadow??
Try isolating this in another file and see if you can get it to work pared down*/
.siri::selection, .karen::selection,
.siri a::selection, .karen a::selection,.highlight::selection {
    background:transparent;
  text-shadow: 0em 2em 0 blue;

}


/*???? NOT WORKING
.remainder {
    background: black;
    width:100%;
    border:1px solid red;
    height:4em;
}
*/

/*??? Something very bizzare is happening with the link styling ... visited doesn't seem to change/record anything unless all the links are default styling*/
a {
    color:rgb(255,84,20);
    text-decoration: none;
    mix-blend-mode: color;
}

a:visited, a:active {
    color:rgb(0,0,255);
    text-decoration: none;
}

a:hover {

}


.highlight {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: blue;

}

.right {
    text-align:right;
}


.center {
    text-align: center;
}






/*
code from https://medium.com/@dailyfire/cursor-trails-3-simple-css-tricks-to-add-to-any-website-part-1-64750798583c
*/
/*
.grid {
    position:fixed;
    display:flex;
    flex-wrap: wrap;
    width:100vw;
    height:100vh;
}

.grid.small {
    z-index:1;
}

.grid.small .grid_item {
    width:5vw;
    /*height is based off width to keep the heatspots circular*/
    /*height:5vw;
    background:rgba(255,84,20,.3);
    border: 3px solid rgba(255,173,20,.3);
    border-radius:50%;
    opacity:0;
    filter:blur(10px);

    /*here we are telling the the .grid_item to transition the opacity over a duration of 2 seconds, with a 0.4 second delay. We also transition the changes to transform over 0.8 seconds, with no delay.*/
    /*transition: opacity 2s ease 0.4s, background 1s ease, transform 1s ease;
    transform: scale(3);

}

.grid.small .grid_item:hover {
    opacity:1;
    background:rgba(255,27,0,.8);
    border: 10px solid rgba(255,173,20,.8);
    transition: opacity 0.2s ease, transform 3s ease, background 8s ease, border 8s ease;
    transform:scale(6);

}

/*
.stripes {
    position:absolute;
    z-index:2;
    top:0;
    mix-blend-mode: normal;
    width:8000px;
    height:8000px;
    background: repeating-linear-gradient(
      to right,
      rgba(243,249,255,.2),
      rgba(243,249,255,.2) 75px,
      transparent 75px,
        transparent 600px
    );

    filter:blur(10px);
    pointer-events: none;
    }


.stripes2 {
    position:absolute;
    z-index:2;
    top:0;
    mix-blend-mode: normal;
    width:8000px;
    height:8000px;
    background: repeating-linear-gradient(
      to bottom,
      rgba(243,249,255,.2),
      rgba(243,249,255,.2) 75px,
      transparent 75px,
        transparent 600px
    );

    filter:blur(10px);

    pointer-events: none;
    }

*/



/*


.container {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;

   padding-top:2%;
}

Q: So, I want the text and textbox to appear above the cursor, hence z-index:4. However, that means the cursor doesn't activate while above any textbox. How to solve this????'
div [class^="box"] {
    box-shadow: inset 0px 0px 10px 10px darkblue;
    padding:2em 2em;

    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:center;
    align-items:center;

    z-index:3;
    mix-blend-mode: color-dodge;
    mix-blend-mode: screen;

}

.box-small {
    width: 200px;
    height:200px;
    border-radius:30px;

    animation: shimmer 4s ease infinite alternate;
}

.box-medium {
    width: 400px;
    height:400px;
    border-radius:60px;

    animation: shimmer 8s ease infinite alternate;

}

.box-large {
    width: 600px;
    height:600px;
    border-radius:90px;

    animation: shimmer 12s ease infinite alternate;
}


div [class^="box"] p {
    visibility:hidden;
    opacity:0;
}


div [class^="box"]:hover p {
    visibility:visible;
    opacity:1;
}


@keyframes shimmer {
    from {background: rgba(224,249,255,0);}
    to {background: rgba(224,249,255,.1);}
}
*/
/*THINGS THAT DIDN'T WORK OUT*/


/*???? HOW TO GET the center pointer to start expanding when the mouse stops moving???*/
.pointer {
    position:absolute;
    border-radius:50%;
    pointer-events: none;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:.5;

    filter:blur(20px);
    /*???Why can't this be 1 or 0? Why must it be negative for it to be behind the text when the .interview z-index is 3??*/
    z-index:-1;

    transition: opacity 10s linear;
}


.pointer1 {
    width: 200px;
    height:200px;
    background:rgba(255,84,20,1);
    transition: left .1s linear, top .1s linear;
    border:20px solid orange;
}

.pointer2 {
    width: 190px;
    height:190px;
    background:rgba(255,84,20,.8); transition: left .2s linear, top .2s linear;
}

.pointer3 {
    width: 170px;
    height:170px;
    background:rgba(255,84,20,.6); transition: left .3s linear, top .3s linear;
}

.pointer4 {
    width: 160px;
    height:160px;
    background:rgba(255,84,20,.4); transition: left .4s linear, top .4s linear;
}

.pointer5 {
    width: 150px;
    height:150px;
    background:rgba(255,84,20,.2); transition: left .5s linear, top .5s linear;
}

.pointer6 {
    width: 160px;
    height:160px;
    background:rgba(255,84,20,.2); transition: left .6s linear, top .6s linear;
}

.pointer7 {
    width: 140px;
    height:140px;
    background:rgba(255,84,20,.2); transition: left .7s linear, top .7s linear;
}

.pointer8 {
    width: 130px;
    height:130px;
    background:rgba(255,84,20,.2); transition: left.8s linear, top .8s linear;
}

.pointer9 {
    width: 120px;
    height:120px;
    background:rgba(255,84,20,.2); transition: left .9s linear, top .9s linear;
}

.pointer10 {
    width: 110px;
    height:110px;
    background:rgba(255,84,20,.2); transition: left 1s linear, top 1s linear;
}
