@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

/*nice ref for font families: https://www.hacksoft.io/blog/using-multiple-font-files-the-right-way*/
@font-face {
    font-family: "Bell";
    src: url("fonts/woff/BellMTStd-Regular.woff") format("woff");
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: "Bell";
    src: url("fonts/woff/BellMTPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "Bell";
  src: url("fonts/woff/BellMTPro-Italic.woff") format("woff");
    font-weight:normal;
    font-style: italic;
}

@font-face {
  font-family: "Bell";
  src: url("fonts/woff/BellMTPro-BoldItalic.woff") format("woff");
    font-weight:bold;
    font-style: italic;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    transform-origin: center center;
    transition:0s;
}

body {
    font-size:28px;
    font-family: 'Bell', cursive;
    font-weight: normal;
    font-style:normal;
    color:white;
    line-height:1.2em;

}


a, a:link {
    color: rgba(157,240,255,1);
    font-style:italic;
    
/*
    background: -webkit-linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(0,255,209,1) 20%, rgba(157,240,255,1) 25%, rgba(55,45,255,1) 30%, rgba(0,255,209,1) 35%, rgba(136,160,236,1) 65%, rgba(39,231,223,1) 78%,  rgba(25, 135, 0, 1) 86%, rgba(24,55,255,1) 91%, rgba(9,9,121,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
*/
}

a:visited {
  color: rgba(55,45,255,1);
}

a:hover {
  color:rgba(160,50,200,1);
}

a:active {
  color: rgba(0,255,209,1);
}

.submit {
    position:fixed;
    z-index:6;
    left:0;
    top:-.5em;
    margin:1em;
}

.submit p {
    font-size:.8em;
    opacity: 0;
/*    had to use this dumb height and width method bc display ignores transitions*/
    height:0;
    width:0;
    visibility:hidden;
}


.submit:hover p {
    opacity:1;
    height:auto;
    width:auto;
    visibility:visible;
    transition:.5s;
}

.submit:hover p:first-of-type {
    display:inline;
}

.submit img {
    width:1.5em;
    display:inline;
    vertical-align: text-bottom;
}

.info {
    position:fixed;
    z-index:5;
    left:0;
    right:0;
    margin:auto;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    
    width:670px;
    max-width:80vw;
    
    font-size:1em;
    line-height:1.25em;
    
    visibility:hidden;
    opacity:0;
    
    background-color:#1900D6;
    
    border:#00FF99 2px solid;
    border-radius:20px;
    padding:20px;
    
/*    ??not working??*/
    background-blend-mode:overlay;
    
}


.critter.welcome {
/*    transition: width 1s, height 0s;*/
}

.welcome .texts {
    background: rgba(55,45,255,.5);
/*    ??not working??*/
    background-blend-mode:difference;
    border:#00FF99 1px solid;
}

.texts_container_big {
    position:absolute;
    top:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    
    display:flex;
    flex-flow: row wrap;
    align-content: center;
    
    /*set z-index for texts here, not in .texts — z-indexes only layer over each other within shared stacking levels (children in different parents don't affect each other)*/
    z-index:4;
    
    /*  Setting z-index:4 on .texts_container_bg finally makes .texts above images, but now because the .texts_container_bg is covering the entire screen, the images no longer react. So must set pointer-events to none*/
    pointer-events: none;
    
    mix-blend-mode: overlay;

}


.texts_container_big .block {
/*    border:10px red solid;*/
    width:33.333%;
    height:25%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}

.texts {
    font-family: 'Bell', cursive;
    font-weight: normal;
    font-style:normal;
    
    position:relative;
    
    font-size:1em;
    
/*
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
*/
    
    display:inline-block;
    
    padding:20px;
    margin:0px 20px;
    width:100%;
/*    white-space:nowrap;*/
    height:auto;
    overflow:hidden;
    border:white 1px solid;
    border-radius:20px;
    
    /* set pointer-events to happen on .texts  */
    pointer-events:all;
    
        
/*    have .texts be invisible on page load*/
    opacity:0;
}

/*invisible hitbox for jquery mouseenter*/
.hitbox {
    position:absolute;
    z-index:2;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding:10px;
    
/*    border:white 1px solid;*/
}

.critter {
}

/*must be position relative so img_name is positioned based on image_frame, not critter*/
.img_frame {
    position:relative;
    pointer-events: none;
    width:75%;
    height:auto;
}

.img_frame * {
  pointer-events: auto;
}

img {
    width:100%;
    height:auto;
}

img:hover, .texts:hover {
    cursor:pointer;
}

.img_name {
    position:absolute;
    z-index:3;
    top:.5em;
    left:.5em;
    background: -webkit-linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(72,104,255,1) 6%,  rgba(0, 110, 94, 1) 12%, rgba(84,176,221,1) 18%, rgba(95,137,255,1) 24%, rgba(28,249,255,1) 30%, rgba(19,66,182,1) 36%,  rgba(0, 168, 108, 1) 40%, rgba(0,212,255,1) 46%, rgba(0,255,209,1) 50%, rgba(2,3,186,1) 55%, rgba(157,240,255,1) 59%, rgba(136,160,236,1) 65%, rgba(55,45,255,1) 71%, rgba(39,231,223,1) 78%,  rgba(25, 135, 0, 1) 86%, rgba(24,55,255,1) 91%, rgba(9,9,121,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    color:white;
    font-size:1em;
    text-align: right;
    display:none;
    -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: blue;
    
}

/*styling different masks
.critter:nth-of-type(2n) img {
  clip-path: ellipse(50% 30% at 50% 50%);
}

.critter:nth-of-type(3n) img {
  clip-path: ellipse(20% 50% at 50% 50%);
}
*/

/*must do this .bg + .bg_wrapper thing so that .bg can rotate animate without showing its edges/white body bg*/
.bg_wrapper {
    width:500vw;
    height:500vh;
    overflow:hidden;
    position:relative;
}

/*rotating, moving sea bg*/
.bg {
    position: relative;
    width: 1000vw;
    height: 1000vh;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(72,104,255,1) 6%,  rgba(0, 110, 94, 1) 12%, rgba(84,176,221,1) 18%, rgba(95,137,255,1) 24%, rgba(28,249,255,1) 30%, rgba(19,66,182,1) 36%,  rgba(0, 168, 108, 1) 40%, rgba(0,212,255,1) 46%, rgba(0,255,209,1) 50%, rgba(2,3,186,1) 55%, rgba(157,240,255,1) 59%, rgba(136,160,236,1) 65%, rgba(55,45,255,1) 71%, rgba(39,231,223,1) 78%,  rgba(25, 135, 0, 1) 86%, rgba(24,55,255,1) 91%, rgba(9,9,121,1) 100%);
    background-size:1000vw 1000vh;

    animation: rotate 30s linear infinite alternate-reverse, gradient 60s ease infinite;
    
}

@keyframes rotate {
      0% {transform: rotate(0deg); } 
      25% {transform: rotate(30deg); } 
      50% {transform: rotate(0deg); } 
      100% {transform: rotate(-30deg); } 
}

@keyframes gradient {
	0% {
		background-position: 0vw 400vh;
	}
	50% {
		background-position: 0vw 180vh;
	}
	100% {
		background-position: 0vw 400vh;
	}
}